<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.PmsInstalmentPlantMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.PmsInstalmentPlant">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="pay_periods" jdbcType="VARCHAR" property="payPeriods" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, pay_periods, valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_instalment_plant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_instalment_plant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.PmsInstalmentPlant">
    insert into pms_instalment_plant (id, product_id, pay_periods, 
      valid)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{payPeriods,jdbcType=VARCHAR},1)
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.PmsInstalmentPlant">
    insert into pms_instalment_plant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="payPeriods != null">
        pay_periods,
      </if>
      <if test="valid != null">
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="payPeriods != null">
        #{payPeriods,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.PmsInstalmentPlant">
    update pms_instalment_plant
    <set>
      <if test="payPeriods != null">
        pay_periods = #{payPeriods,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=TINYINT},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.PmsInstalmentPlant">
    update pms_instalment_plant
    set product_id = #{productId,jdbcType=BIGINT},
      pay_periods = #{payPeriods,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>